body {
  font-family: Arial;
  text-align: center;
  background: #f4f4f4;
}

h1 {
  color: darkblue;
}

nav a {
  margin: 10px;
  text-decoration: none;
  color: red;
  font-weight: bold;
}

ul {
  list-style: none;
}
